.Sign {
  text-align: center;

  animation-timing-function: ease-out;
  animation: fade-in 700ms;
  transition: all 700ms ease-in-out;
}

.Sign-header {
  background-color: #155263;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Sign-text-yes-golden-hour {
  width: 217px;
  font-size: 25px;
  font-weight: bold;
  color: #253b4a;
  text-align: center;
}

.Sign-text-no-golden-hour {
  width: 217px;
  font-size: 25px;
  font-weight: bold;
  color: #ffc93c;
  text-align: center;
}

@keyframes fade-in {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
