.Sign {
  text-align: center;
}

.Sign-header {
  background-color: #155263;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #ffc93c;
}
