.About {
  text-align: center;
  min-height: 40vh;
}

.About-header {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  color: #ff9a3c;
}

