.Footer {
  text-align: center;
  min-height: 20vh;
}

.Footer-header {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  align-items: center;
  justify-content: center;
  color: #ff9a3c;
}

.Icon {
  width: 2em;
  height: 2em;
  color: #253b4a;
}

